OPENAI_BASE_URL=your_endpoint
QWEN_API_KEY=your-api-key

LLM_PROVIDER=qwen or yandex
#Yandex

YANDEX_API_KEY=your-key
YANDEX_BASE_URL=https://ai.api.cloud.yandex.net/v1
YANDEX_PROJECT=your_project
YANDEX_MODEL=gpt://your_project/yandexgpt/latest
